/.idea/
/.history/
/.vscode/
/.phpdoc/
/.DS_Store
/.jshintrc
/.php-cs-fixer.cache
/nbproject/
/tmp/
/vendor/
/config/
/cache/
/.vscode
/package-lock.json
/.settings/
/.project
/.buildpath

/*.lock

config.php
